<div class="container">
    <table class="table" summary="Page list">
      <tr class="active">

        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Direccion</th>
        <th>Telefono</th>

      </tr>
          <tr>
            <td><%= @user.name %> </td>
            <td><%= @user.last_name %></td>
            <td><%= @user.email %> </td>
            <td><%= @user.address %></td>
            <td><%= @user.cellphone %> </td>
          </tr>
    </table>
</div>